@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
$fontFamily: 'Roboto', sans-serif;
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 20px;
}

// Textarea
.textarea-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea-container__textarea {
  width: 100%;
  max-width: 1024px;
  border: 2px solid #808080;
  border-radius: 5px 5px 0 5px;
}
.textarea-container__textarea:focus {
  outline: none;
  border: 2px solid #404040;
}

// Statusbar
.panel-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding: 5px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #808080;
}
.panel__block {
  display: flex;
  flex-direction: row;
  width: max-content;
  gap: 5px;
}
.panel__block > * {
  padding: 5px;
  height: 100%;
  line-height: 100%;
  border-radius: 5px;
  background-color: #606060;
  color: aliceblue;
}
.panel__hotkey{
  width: max-content;
  text-align: center;
}
.panel__current-status {
  font-family: $fontFamily;
  width: 55px;
  text-align: center;
}

// Keyboard
.keyboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  margin-top: 20px;
}

.keyboard-container > * {
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 50px;
  grid-column-gap: 5px;
}

.keyboard-container > * > * {
  text-align: center;
  border-radius: 5px;
  transition: All .1s ease;
}

.keyboard__first-row {
  grid-template-columns: repeat(13, 50px) 125px;
}

.keyboard__second-row {
  grid-template-columns: 65px repeat(13, 50px) 55px;
}

.keyboard__third-row {
  grid-template-columns: 125px repeat(11, 50px) 105px;
}

.keyboard__fourth-row {
  grid-template-columns: 180px repeat(12, 50px);
}

.keyboard__fifth-row {
  grid-template-columns: 80px repeat(2, 50px) 340px 50px 80px repeat(3, 50px);
}

.symbol-key {
  font-family: $fontFamily;
  line-height: 50px;
  color: aliceblue;
  background-color: #808080;
}

.special-key {
  font-family: $fontFamily;
  line-height: 50px;
  color: aliceblue;
  background-color: #606060;
}

.active {
  background-color: #3366FF;
  transform: translate(2px, 2px);
}